// color

$primary: #F7421E;
$secondary: #DB3514;

$black-900: #202124;
$black-800: #36373A;
$black-700: #4D4D50;
$black-600: #636466;
$black-500: #797A7C;
$black-400: #909192;
$black-300: #A6A6A7;
$black-200: #BCBCBD;
$black-100: #D2D3D3;
$black-50: #E9E9E9;

$white: #FFFFFF;
$black: #000000;

$background-01: #F8F9F9;
$background-02: #F0FAE6;
$background-03: #ECE0CE;