@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');
@import "color";
@import "mixin";

// Body

body {
    @include fontStyle('Roboto', 14px, 400, 26px);   
}

// Typography

h1 {
    @include fontStyle('Roboto', 56px, 700, 60px);
}

h2 {
    @include fontStyle('Roboto', 44px, 700, 52px);
}

h3 {
    @include fontStyle('Roboto', 32px, 700, 40px);
}

h4 {
    @include fontStyle('Roboto', 24px, 700, 30px);
}

h5 {
    @include fontStyle('Roboto', 20px, 700, 24px);
}

h6 {
    @include fontStyle('Roboto', 18px, 700, 20px);
}


// Custom buttons

.btn {
    color: $white;
    padding: 12px 20px;
    border-radius: 2px;    
}

.btn-hoston-primary {
    @extend .btn;
    background-color: $primary;
}

.btn-hoston-primary:hover,
.btn-hoston-primary:focus,
.btn-hoston-primary:active {
    color: $white;
    background-color: $secondary;
}

.btn-hoston-outline {
    @extend .btn;
    background-color: transparent;
    border: 1px solid $white;
}

.btn-hoston-outline:hover,
.btn-hoston-outline:focus,
.btn-hoston-outline:active {
    color: $white;
    background-color: rgba(255,255,255,0.10);
}

// Header

.header {
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    height: 100%;
    padding-top: 215px;
    padding-bottom: 215px;  

    &__content { 
        h1 {
            color: $white;
        }      
        p {
            color: $white;
            opacity: 0.8;
            @include fontStyle('Roboto', 20px, 400, 35px);
        }                          
    }
}

@media (min-width:320px) and (max-width:767px) {
    .header {
        padding-top: 100px;
        padding-bottom: 100px;
        &__content {
            h1 { @include fontStyle(null, 25px, null, 40px); }
            p { @include fontStyle(null, 15px, null, 25px); }
        }
    }
}

@media (min-width:768px) and (max-width:991px) {
    .header {
        padding-top: 150px;
        padding-bottom: 150px;        
        &__content {
            h1 { @include fontStyle(null, 30px, null, 45px); }
            p { @include fontStyle(null, 15px, null, 30px); }
        }
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .header {
        &__content {
            h1 { @include fontStyle(null, 40px, null, 50px); }
        }
    }
}