@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import "color";
@import "mixin";

// Body

body {
    @include fontStyle('Fira Sans', 14px, 400, 26px);
    margin: 0;
    padding: 0;
}

// Typography

h1 {
    @include fontStyle('Jost', 56px, 500, 60px);
}

h2 {
    @include fontStyle('Jost', 44px, 500, 52px);
}

h3 {
    @include fontStyle('Jost', 32px, 500, 40px);
}

h4 {
    @include fontStyle('Jost', 24px, 500, 30px);
}

h5 {
    @include fontStyle('Jost', 20px, 500, 24px);
}

h6 {
    @include fontStyle('Jost', 18px, 500, 20px);
}

p {
    color: $black-600;
    margin: 0;
}

// Common

.form-control::placeholder {
    color: $black-400;
}

// Custom margin & padding

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

// Custom classes

.section__style--1 {
    h2 {
        position: relative;
        display: inline-block;
        &::before {
            content: url(../svg/headline-1.svg);
            position: absolute;
            top: -25px;
            left: -55px;
        }

        &::after {
            content: url(../svg/headline-2.svg);
            position: absolute;
            right: -55px;
            top: 25px;
        }
    }       
}

.section__style--2 {
    h2 {
        position: relative;
        display: inline-block;
        &::before {
            content: url(../svg/headline-3.svg);
            position: absolute;
            top: -25px;
            left: -55px;
        }

        &::after {
            content: url(../svg/headline-4.svg);
            position: absolute;
            right: -55px;
            top: 25px;
        }
    }       
}

.section__dot {
    color: $primary;
    margin-right: 5px;
}

.sub-title {
    max-width: 570px;
}

// Custom buttons

.btn {
    @include fontStyle('Fira Sans', 14px, 300, null);
    color: $white;
    padding: 10px 20px;
    border-radius: 2px;
    &:hover,
    &:focus,
    &:active {
        outline: none;
        box-shadow: none
    }  
}

.btn-hoston-primary {
    @extend .btn;
    background-color: $primary;
}

.btn-hoston-primary {
    &:hover,
    &:focus,
    &:active {
        color: $white;
        background-color: $secondary;        
    }
}

.btn-hoston-outline {
    @extend .btn;
    background-color: transparent;
    border: 1px solid $white;
}

.btn-hoston-outline:hover,
.btn-hoston-outline:focus,
.btn-hoston-outline:active {
    color: $white;
    background-color: rgba(255,255,255,0.10);
}

.btn-hoston-link {
    @include fontStyle('Fira Sans', 13px, 400, 22px);
    color: $black-600;
    position: relative;
    display: inline-block;
    text-decoration: underline;
}

.btn-hoston-link::before {
    content: "\F231";
    font-family: 'bootstrap-icons';
    position: absolute;
    font-size: 10px;
    right: -20px;
    font-weight: 400;
}

// Header

.header {
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    height: 100%;
    padding-top: 215px;
    padding-bottom: 215px;  

    &__content { 
        h1 {
            color: $white;
        }      
        p {
            color: $white;
            opacity: 0.8;
            @include fontStyle('Fira Sans', 16px, 400, 35px);
        }                          
    }
}

// Search domain

.search {
    max-width: 820px;
    background-color: $white;
    padding: 50px;
    border-radius: 10px;
    margin-top: -100px;
    box-shadow: 0px 25px 60px -5px rgba(33,40,51,0.12);
    margin-left: auto;
    margin-right: auto;

    &__icon {
        padding: 0px 15px;
        color: $black-400;
    }

    &__input {
        @include fontStyle ('Fira Sans', 14px, 400, null);
        color: $black-400 !important;
        background-color: #F8F9F9;
        border: 1px solid $black-100;        
        padding: 10px 10px 10px 40px;
        border-radius: 2px;
        height: 42px;
        &:focus {
            box-shadow: none;
            border: 1px solid $black-100;
        }
    }
}

.search__domain {
    &--pricing {
        .list-inline-item {
            color: $black-400;
            font-weight: 400;
        }
        .list-inline-item:not(:last-child) {
            margin-right: 40px;
        }
    }
}

// Services

.services {
    background-color: $background-02;
    &__block {
        background: $white;
        padding: 55px;
        border-radius: 5px;
        box-shadow: 0px 8px 20px -2px rgba(33, 40, 51, 0.05);
    
        &:hover {
            background: linear-gradient(93.88deg, #870C9B -1.94%, #1A0B75 79.12%);
            color: $white;;
        }
        &:hover i,
        &:hover p {
            color: $white;
        }      
        i {
            font-size: 50px;
            color: $black-900;
        }
        &--btn {
            margin-top: 40px;
            a:hover {
                color: $white;
            }             
        }  
        &:hover .services__block--btn a {
            color: $white;
            text-decoration: none;
        }              
    }
}

// Plan 

.accordion-item {
    border: 1px solid #ECECEC;
}
.accordion-button {
    @include fontStyle ('Jost', 20px, 400, null);
    &:focus {
        border-color: transparent;
        box-shadow: none;
    }
    &::after {
        font-family: "bootstrap-icons";
        content: "\f4d7";
        font-size: 28px;
        color: $black-600;            
        background-image: none;
        transform: none;
        display: flex;
        align-items: center;            
    }
}
.accordion-button:not(.collapsed) {
    color: $black-800;
    background-color: #F7F7F7;
    box-shadow: none;
    &::after {
        font-family: "bootstrap-icons";        
        content: "\f2ca";
        background-image: none;
        transform: none;            
    }
}

// Support

.support {
    background-color: $background-02;
}

// Statistics

.statistics {
    background: linear-gradient(101.84deg, #7D0C97 -9.04%, #1A0B75 100%);
    padding-top: 80px;
    padding-bottom: 80px;
    h2 {
        color: $white;
    }
    h4 {
        color: $white;
        opacity: 0.8;
    }
    p {
        color: $white;
        opacity: 0.8;
        @include fontStyle('Fira Sans', 16px, 400, 35px);
    }
    &__counter {        
        @include fontStyle('Jost', 40px, 400, 30px);
        color: $white;
    }
}

// Packages

.packages__block {
    position: relative;
    background: #ffffff;
    padding: 60px 50px;
    box-shadow: 0px 25px 60px -5px rgba(33,40,51,0.12);
    border-radius: 10px;
}

// Media queries

@media (min-width:320px) and (max-width:767px) {
    .header {
        padding-top: 100px;
        padding-bottom: 100px;
        &__content {
            h1 { @include fontStyle(null, 25px, null, 40px); }
            p { @include fontStyle(null, 15px, null, 25px); }
        }
    }
    .search {
        padding: 20px;
    }
    .search__domain {
        &--pricing {
            .list-inline-item {
                margin-right: 0 !important;
                width: 24%;
            }
        }
    }
    section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    h2 {
        @include fontStyle(null, 25px, 500, 35px);
    }
    .section__style--1 {
        h2 {
            @include fontStyle(null, 25px, 500, 35px);
            &::before,
            &::after {
                display: none;
            }
        }
    }
    .section__style--2 {
        h2 {
            @include fontStyle(null, 25px, 500, 35px);
            &::before,
            &::after {
                display: none;
            }
        }
    } 
    .services__block {
        padding: 35px;
    }   
}

@media (min-width:768px) and (max-width:991px) {
    .header {
        padding-top: 150px;
        padding-bottom: 150px;        
        &__content {
            h1 { @include fontStyle(null, 30px, null, 45px); }
            p { @include fontStyle(null, 15px, null, 30px); }
        }
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .header {
        &__content {
            h1 { @include fontStyle(null, 40px, null, 50px); }
        }
    }
}